<div class="editor-row">

  <div class="gf-form">
    <span class="gf-form-label width-8">InfluxDB</span>
    <div class="gf-form-select-wrapper max-width-23">
      <select class="gf-form-input"
        ng-options="ds for ds in ctrl.dbs"
        ng-model="ctrl.panel.datasource"
        ng-change="ctrl.configChanged()">
      </select>
    </div>

    <metric-segment
      ng-show="ctrl.ds.allowDatabaseQuery"
      segment="ctrl.dbSeg"
      get-options="ctrl.getDBsegs()"
      on-change="ctrl.dbChanged()"></metric-segment>

    &nbsp;&nbsp; {{ ctrl.ds.database }}
  </div>

  <div class="gf-form">
    <span class="gf-form-label width-8">Show</span>
    <div class="gf-form-select-wrapper max-width-23">
      <select class="gf-form-input" ng-model="ctrl.panel.mode" ng-change="ctrl.configChanged()">
        <option value="current">Current Queries</option>
        <option value="query">Query Window</option>
      </select>
    </div>
  </div>

  <div class="gf-form" ng-show="ctrl.panel.mode == 'current'">
    <gf-form-switch class="gf-form-inline"
      label="Refresh"
      label-class="gf-form-label width-8"
      checked="ctrl.panel.refresh"
      on-change="ctrl.configChanged()"></gf-form-switch>
      <span ng-show="ctrl.panel.refresh" class="gf-form-label width-8">Interval (ms)</span>
      <input ng-show="ctrl.panel.refresh" type="number"
       min="0" max="100000" 
       ng-model="ctrl.panel.refreshInterval" 
       class="gf-form-input max-width-10" 
       ng-change="ctrl.configChanged()" />
  </div>

  <div class="gf-form" ng-show="ctrl.panel.mode == 'query' && ctrl.ds.allowDatabaseQuery">
    <gf-form-switch class="gf-form"
      label="Show DB"
      label-class="gf-form-label width-8"
      checked="ctrl.panel.queryDB"
      on-change="ctrl.configChanged()"></gf-form-switch>
  </div>

  <div class="gf-form" ng-show="ctrl.panel.mode == 'query'">
    <span class="gf-form-label width-8">Time Format</span>
    <input type="text"
      class="gf-form-input max-width-16"
      ng-model="ctrl.panel.time"
      ng-change="ctrl.onQueryChanged()">
    &nbsp; <a href="https://momentjs.com/docs/#/displaying/format/"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
  </div>

<!--
  <div class="gf-form" ng-show="ctrl.panel.mode == 'current'">
    <span class="gf-form-label width-7">Refresh</span>
    input....
  </div>

  <pre>
  {{ ctrl.panel | json }}
  </pre>
-->

</div>
