


<form ng-submit="ctrl.onSubmit()">
  <div class="input-group">
    <input type="text" class="gf-form-input" ng-model="query" />
  </div><!-- /input-group -->

<input type="submit" class="btn btn-secondary" value="Query" />

<div class="dropdown" style="display:inline;">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
    Select Query
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li><a href="#" ng-click="ctrl.setQuery('SHOW DATABASES');">Show Databases</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('CREATE DATABASE &quot;db_name&quot;');">Create Database</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('DROP DATABASE &quot;db_name&quot;');">Drop Database</a></li>
      <li class="divider"></li>
      <li><a href="#" ng-click="ctrl.setQuery('SHOW MEASUREMENTS');">Show Measurements</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('SHOW TAG KEYS FROM &quot;measurement_name&quot;');">Show Tag Keys</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('SHOW TAG VALUES FROM &quot;measurement_name&quot; WITH KEY = &quot;tag_key&quot;');">Show Tag Values</a></li>
      <li class="divider"></li>
      <li><a href="#" ng-click="ctrl.setQuery('SHOW RETENTION POLICIES ON &quot;db_name&quot;');">Show Retention Policies</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('CREATE RETENTION POLICY &quot;rp_name&quot; ON &quot;db_name&quot; DURATION 30d REPLICATION 1 DEFAULT');">Create Retention Policy</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('DROP RETENTION POLICY &quot;rp_name&quot; ON &quot;db_name&quot;');">Drop Retention Policy</a></li>
      <li class="divider"></li>
      <li><a href="#" ng-click="ctrl.setQuery('SHOW CONTINUOUS QUERIES');">Show Continuous Queries</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('CREATE CONTINUOUS QUERY &quot;cq_name&quot; ON &quot;db_name&quot; BEGIN SELECT min(&quot;field&quot;) INTO &quot;target_measurement&quot; FROM &quot;current_measurement&quot; GROUP BY time(30m) END');">Create Continuous Query</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('DROP CONTINUOUS QUERY &quot;cq_name&quot; ON &quot;db_name&quot;');">Drop Continuous Query</a></li>
      <li class="divider"></li>
      <li><a href="#" ng-click="ctrl.setQuery('SHOW USERS');">Show Users</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('CREATE USER &quot;username&quot; WITH PASSWORD \'password\'');">Create User</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('CREATE USER &quot;username&quot; WITH PASSWORD \'password\' WITH ALL PRIVILEGES');">Create Admin User</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('DROP USER &quot;username&quot;');">Drop User</a></li>
      <li class="divider"></li>
      <li><a href="#" ng-click="ctrl.setQuery('SHOW STATS');">Show Stats</a></li>
      <li><a href="#" ng-click="ctrl.setQuery('SHOW DIAGNOSTICS');">Show Diagnostics</a></li>
  </ul>
</div>
</form>

<br/>
<br/>

<div ng-repeat="res in ctrl.rsp">
<div ng-repeat="rrr in res">
<div ng-repeat="series in rrr.series">

  <h2>{{series.name}}</h2>
  <table class="filter-table form-inline">
  <tr>
    <th ng-repeat="col in series.columns">
    {{ col }} &nbsp; 
    </th>
  </tr>

  <tr ng-repeat="row in series.values">
  {{ row | json }}

    <td ng-repeat="cell in row">
      {{ cell }} &nbsp;
    </td>
  </tr>
  </table>

</div>
</div>
</div>

